
@{
    ViewData["Title"] = "EditProduct";
    Layout = "_Admin";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Manager</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Admin<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Edit Product</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <center>
            <h1 style="color:red;">Administrator - Add new product</h1>
        </center>
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-10">
                    @if (ViewBag.UpdateSuccessful != null)
                    {
                        <h1>@ViewBag.UpdateSuccessful</h1>
                    }
                    @if (ViewBag.UpdateFailed != null)
                    {
                        <h1>@ViewBag.UpdateFailed</h1>
                    }
                    @*Goi ham UpdateProduct*@
                    <form action="UpdateProduct" method="POST">
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="">Name: </label>
                            <input type="text" class="form-control-plaintext" readonly value="@ViewBag.ShoesForPageEditProduct.Name" />
                        </div>
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="">Brand: </label>
                            <input type="text" class="form-control-plaintext" readonly value="@ViewBag.ShoesForPageEditProduct.BrandName" />
                        </div>
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="" for="2">Price: </label>
                            <input type="text" class="form-control" id="2" name="txtProductPrice" required placeholder="Product's price" value="@ViewBag.Product.Price" />
                        </div>
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="" for="3">Color: </label>
                            <input type="text" class="form-control" id="3" name="txtProductColor" required placeholder="Product's color" value="@ViewBag.Product.Color" />
                        </div>
                        <div class="form-group" id="DetailProduct">
                            @{ int i = 1;}
                            @foreach (ProductDetailDTO dto in ViewBag.ListProductDetails)
                            {

                                <center><h3>Detail @i (Old)</h3></center>
                                <div class="form-group">
                                    <label style="color: #000000; font-weight: bold">Size: </label>
                                    <input type="number" class="form-control" name="txtSize" min="0" required placeholder="Product's size" value="@dto.Size" />
                                </div>
                                <div class="form-group">
                                    <label style="color: #000000; font-weight: bold">Quantity: </label>
                                    <input type="number" class="form-control" name="txtQuantity" min="0" placeholder="Product's quantity" value="@dto.Quantity" />
                                </div>

                                i = i + 1;
                            }
                        </div>
                            <div class="form-group">
                                <center>
                                    <button class="primary-btn btn-sm" type="button" onclick="addSize()">Add more size</button>
                                    <button class="primary-btn btn-sm" type="button" onclick="removeSize()" style="margin-left:40px;">Remove size</button>
                                </center>
                            </div>
                            <div class="form-group">
                                <button style="width:100%; margin-top:40px;" class="primary-btn btn-lg">UPDATE</button>
                            </div>
                        <input type="hidden" name="txtProductID" value="@ViewBag.Product.ProductId" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
