
@{
    ViewData["Title"] = "ShoesManager";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order Tracking</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Admin<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">User Manager</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <center>
            <h1>Administrator - Shoes Manager</h1>
            @if (ViewBag.DeleteFailed != null)
            {
                <h5>@ViewBag.DeleteFailed</h5>
            }
            @if (ViewBag.DeleteSuccessful != null)
            {
                <h5>@ViewBag.DeleteSuccessful</h5>
            }
            @if (ViewBag.AddFailed != null)
            {
                <h5>@ViewBag.AddFailed</h5>
            }
            @if (ViewBag.AddSuccessful != null)
            {
                <h5>@ViewBag.AddSuccessful</h5>
            }
        </center>
        <div>
            <table id="test" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Origin</th>
                        <th>Deleted</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ShoesDTO dto in ViewBag.ListShoes)
                    {
                        <tr>
                            <td>@dto.ShoesId</td>
                            <td>@dto.Name</td>
                            <td>@dto.BrandName</td>
                            <td>@dto.CategoryName</td>
                            <td>@dto.OriginName</td>
                            <td>@dto.IsDeleted</td>
                            @if (dto.IsDeleted == false)
                            {
                                <td><a href="#" class="btn-danger btn-sm">Remove</a></td>
                            }
                            else
                            {
                                <td><a href="#" class="btn-success btn-sm">Add</a></td>
                            }
                            <td><a href="/Admin/EditShoes?txtShoesID=@dto.ShoesId" class="btn-success btn-sm">Edit</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
