
@{
    ViewData["Title"] = "Cart";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a asp-controller="Home" asp-action="Index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a asp-controller="Shopping" asp-action="Cart">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <h1>Shopping Cart</h1>
                @if(ViewBag.Announcement != null)
                {
                    <script>
                        alert("@ViewBag.Announcement");
                    </script>
                }
                <form action="/Shopping/Checkout" method="post">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Size</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ double cartTotal = 0;}
                            @foreach (CartItemDTO dto in ViewBag.Cart)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" name="txtProductDetailID" value="@dto.ProductDetailId" />
                                        <div class="media">
                                            <div class="d-flex">
                                                <img style="width:100px; height:100px;" src="@dto.Image" alt="">
                                            </div>
                                            <div class="media-body">
                                                <p><span style="font-size:25px; color:red;">@dto.Name</span> (Color: @dto.Color)</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>@dto.Size</h5>
                                    </td>
                                    <td>
                                        <h5>@dto.Price</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <input type="number" name="txtQuantity" id="sst" min="0" value="@dto.Quantity" title="Quantity:"
                                                   class="input-text qty">
                                        </div>
                                    </td>
                                    <td>
                                        @{ double total = dto.Quantity * dto.Price;
                                            cartTotal = cartTotal + total;}
                                        <h5>$@total</h5>
                                    </td>
                                </tr>
                                
                            }
                            @*<tr class="bottom_button">
                                <td>
                                    <button class="primary-btn">Update Cart</button>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>*@
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>$@cartTotal</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" asp-controller="Home" asp-action="Index">Continue Shopping</a>
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <button class="primary-btn">Proceed to checkout</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->
