
@{
    ViewData["Title"] = "Checkout";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <form class="row contact_form" action="#" method="post">
                        <div class="form-group col-md-12">
                            <label style="color: #000000; font-weight: bold" class="" for="0">Username (Email): </label>
                            <input type="text" class="form-control" readonly id="0" value="@ViewBag.UserInfo.Username" />
                        </div>
                        <div class="form-group col-md-12">
                            <label style="color: #000000; font-weight: bold" class="" for="1">Fullname: </label>
                            <input type="text" class="form-control" readonly id="1" value="@ViewBag.UserInfo.Fullname" />
                        </div>
                        <div class="form-group col-md-12">
                            <label style="color: #000000; font-weight: bold" class="" for="2">Address to ship: </label>
                            <input type="text" class="form-control" readonly id="2" value="@ViewBag.UserInfo.Address" />
                        </div>
                        <div class="form-group col-md-12">
                            <label style="color: #000000; font-weight: bold" class="" for="3">Phone number: </label>
                            <input type="text" class="form-control" readonly id="3" value="@ViewBag.UserInfo.Tel" />
                        </div>
                    </form>
                </div>

                <div class="col-lg-4">
                    <form action="/Shopping/Confirmation" method="post">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                @{ double total = 0; double cartTotal = 0;}
                                @foreach (CartItemDTO dto in ViewBag.Cart)
                                {
                                    total = dto.Price * dto.Quantity;
                                    <li><a href="#">@dto.Name <span class="middle">x @dto.Quantity</span> <span class="last">$@total</span></a></li>
                                    cartTotal = cartTotal + total;
                                }
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Total <span>$@cartTotal</span></a></li>
                            </ul>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="txtPaymentMethod" value="COD" checked>
                                    <label for="f-option5">Ship COD</label>
                                    <div class="check"></div>
                                </div>
                                <p>
                                    Cash On Delivery (COD): Is the special service used together with the postal services in which the sender can entrust Vietnam Post to collect an amount from the recipient when delivering postal items (goods) and return that amount to the sender .
                                </p>
                            </div>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="txtPaymentMethod" value="Paypal">
                                    <label for="f-option6">Paypal </label>
                                    <img src="~/img/product/card.jpg" alt="">
                                    <div class="check"></div>
                                </div>
                                <p>
                                    Pay via PayPal - You can pay with your credit card if you don’t have a PayPal
                                    account.
                                </p>
                            </div>
                            <div class="payment_item">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option7" name="txtPaymentMethod" value="MoMo">
                                    <label for="f-option7">MoMo E-Wallet </label>
                                    <img src="~/img/momo-icon.png" alt="" style="width:20px;height:20px;">
                                    <div class="check"></div>
                                </div>
                                <p>
                                    Momo is an e-wallet and payments app that allows users to pay online and transfer money to each other digitally.
                                </p>
                            </div>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            <input type="hidden" name="txtTotal" value="@cartTotal" />
                            <button class="primary-btn">Purchase</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
