
@{
    ViewData["Title"] = "EditInformation";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Edit Information</h1>
                <nav class="d-flex align-items-center">
                    <a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Edit Information</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <center>
            <h1 style="color=red;">Administrator - Add new product</h1>
        </center>
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-10">
                    @if(ViewBag.Success != null)
                        {
                            <script>
                                alert("@ViewBag.Success");
                            </script>
                        }
                    @if(ViewBag.Failed != null)
                        {
                            <script>
                                alert("@ViewBag.Failed");
                            </script>
                        }
                    <form action="/Home/ProcessEditInfo" method="POST">
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="" for="0">Username (Email): </label>
                            <input type="text" class="form-control" name="txtUsername" readonly id="0" value="@ViewBag.UserInfo.Username" />
                        </div>
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="" for="1">Fullname: </label>
                            <input type="text" class="form-control" name="txtFullname" id="1" value="@ViewBag.UserInfo.Fullname" />
                        </div>
                        <label style="color: #000000; font-weight: bold" class="">Gender: </label>
                        @if (ViewBag.UserInfo.Gender.Equals("Male"))
                        {
                            <div class="form-group">
                                <select name="slGender">
                                    <option value="Male" selected>Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <br />
                                <br />
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <select name="slGender">
                                    <option value="Male">Male</option>
                                    <option value="Female" selected>Female</option>
                                </select>
                                <br />
                                <br />
                            </div>
                        }
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="" for="2">Birthdate: </label>
                            <input type="date" class="form-control date" id="2" value="@ViewBag.UserInfo.Dob.ToString("yyyy-MM-dd")" name="txtDob" />
                        </div>
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="" for="3">Address (Use for delivery): </label>
                            <input type="text" class="form-control" id="3" name="txtAddress" value="@ViewBag.UserInfo.Address" />
                        </div>
                        <div class="form-group">
                            <label style="color: #000000; font-weight: bold" class="" for="4">Phone number: </label>
                            <input type="tel" class="form-control" id="4" name="txtPhoneNumber" value="@ViewBag.UserInfo.Tel" />
                        </div>
                        <div class="form-group">
                            <button class="primary-btn btn-lg">Update</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
