@{
    ViewData["Title"] = "Home Page";
}
<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>Nike New <br>Collection!</h1>
                                <p>
                                    Nike introduced its Air Cushioning Technology in 1979. By embedding Air Cushioning in the midsoles of its running shoes, it changed the way athletes approached and reacted to athletic performance forever. Eight years later, as Nike continued to bring the latest scientific discoveries to footwear design, the Nike Air component became larger – meaning greater cushioning and comfort – and was made visible for the first time in the Air Max shoe: now athletes could see as well as feel the benefits of Nike Air. Many Nike Air products were developed since then and many of them grew to become icons on and off the track.
                                </p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag (Unvailable now - coming soon)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Adidas New <br>YEEZY!</h1>
                                <p>
                                    Adidas Yeezy is a collaboration between German sportswear brand Adidas and American rapper Kanye West. The Adidas Yeezy 750 Boost "Grey" was the first sneaker to release from this collaboration on February 23, 2015.[1] The second shoe to release was the Adidas Yeezy Boost 350 "Turtle Dove".[2] "Yeezy Season 1" was the first apparel collection to release from this collaboration.[3] It was officially released on October 29th, 2015.[4] The Adidas Yeezy 750 Boot was also part of this collection and it was released in four different colorways.[5] The name "Boost" refers to a material used by Adidas.
                                </p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Add to Bag (Unvailable now - coming soon)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Free Delivery</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Return Policy</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>24/7 Support</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Secure Payment</h6>
                    <p>Free Shipping on all order</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/img/category/c1.jpg" alt="">
                            <a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sneaker for Sports</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/img/category/c2.jpg" alt="">
                            <a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sneaker for Sports</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/img/category/c3.jpg" alt="">
                            <a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Product for Couple</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/img/category/c4.jpg" alt="">
                            <a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sneaker for Sports</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/img/category/c5.jpg" alt="">
                    <a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Sneaker for Sports</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>
                            Top 8 latest products of our shoes store
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (ProductDTO item in new ProductData().GetTrendingProducts())
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <a href="/Products/ProductDetail?txtID=@item.ProductId"><img class="img-fluid" src="@item.Image" alt=""></a>
                            <div class="product-details">
                                <center>
                                    <a class="btn-info btn-sm" style="font-size:25px;" href="/Products/ProductDetail?txtID=@item.ProductId">@item.Name</a>
                                    <h6>@item.Color</h6>
                                    <h6 style="font-size:20px;">$@item.Price</h6>
                                </center>
                                <div class="price">
                                </div>
                                <div class="prd-bottom">
                                    <a href="/Products/ProductDetail?txtID=@item.ProductId" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Latest Products</h1>
                        <p>
                            Top 8 latest products of our shoes store
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (ProductDTO item in new ProductData().GetTrendingProducts())
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <a href="/Products/ProductDetail?txtID=@item.ProductId"><img class="img-fluid" src="@item.Image" alt=""></a>
                            <div class="product-details">
                                <center>
                                    <a class="btn-info btn-sm" style="font-size:25px;" href="/Products/ProductDetail?txtID=@item.ProductId">@item.Name</a>
                                    <h6>@item.Color</h6>
                                    <h6 style="font-size:20px;">$@item.Price</h6>
                                </center>
                                <div class="price">
                                </div>
                                <div class="prd-bottom">
                                    <a href="/Products/ProductDetail?txtID=@item.ProductId" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- end product Area -->
<!-- Start brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/img/brand/1.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/img/brand/2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/img/brand/3.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/img/brand/4.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/img/brand/5.png" alt="">
            </a>
        </div>
    </div>
</section>
<!-- End brand Area -->
