@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShoesStore</title>

<<<<<<< HEAD
<<<<<<< HEAD
    <environment include="Development">
=======
    <environment names="Staging,Production">
>>>>>>> parent of 33e6768... Merge branch 'master' of https://github.com/tqvinhhung4399/ShoesStore
=======
    <environment names="Staging,Production">
>>>>>>> parent of 33e6768... Merge branch 'master' of https://github.com/tqvinhhung4399/ShoesStore
        <link rel="stylesheet" href="~/file4.css" />
        <link rel="stylesheet" href="~/file5.css" />
        <link rel="stylesheet" href="~/css/datatable.css" />
        <link rel="stylesheet" href="~/css/DataTableCSS.css">
        <link rel="stylesheet" href="~/css/linearicons.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/themify-icons.css">
        <link rel="stylesheet" href="~/css/bootstrap.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/nice-select.css">
        <link rel="stylesheet" href="~/css/nouislider.min.css">
        <link rel="stylesheet" href="~/css/ion.rangeSlider.css">
        <link rel="stylesheet" href="~/css/ion.rangeSlider.skinFlat.css">
        <link rel="stylesheet" href="~/css/magnific-popup.css">
        <link rel="stylesheet" href="~/css/main.css">
        <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
        <link rel="icon" href="~/img/fav.png">
        <style>
            td.details-control {
                background: url('../Open.PNG') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {
                background: url('../Close.PNG') no-repeat center center;
            }
        </style>
    </environment>
    @*
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="#"><img src="~/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="UserManager">User Manager</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="OrderManager">Order Manager</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Product Manager</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="ShoesManager">Shoes Manager</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="ProductManager">Product Manager</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Other Manager</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="OriginManager">Origin Manager</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="CategoryManager">Category Manager</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="BrandManager">Brand Manager</a></li>
                                    <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="ContactManager">Contact Manager</a></li>
                                </ul>
                            </li>
                            @*
        <li class="nav-item submenu dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">Admin</a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="UserManager">User Manager</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="ProductManager">Product Manager</a></li>
            </ul>
        </li>*@
                            @if (Context.Session.GetString("SessionUser") != null)
                            {
                                <li class="nav-item">Welcome, <a class="nav-link" href="#">@Context.Session.GetString("SessionFullname").ToString()<a href="/Home/ProcessLogout">   (Logout)</a></a></li>
                            }
                            else
                            {
                                <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Login">Login</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer class="footer-area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>About Us</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
                                magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Newsletter</h6>
                            <p>Stay update with our latest</p>
                            <div class="" id="mc_embed_signup">
                                <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                      method="get" class="form-inline">
                                    <div class="d-flex flex-row">
                                        <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
                                               required="" type="email">

                                        <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                                        <div style="        position: absolute;
        left: -5000px;">
                                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                        </div>
                                        <!-- <div class="col-lg-4 col-md-4">
                                            <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                                        </div>  -->
                                    </div>
                                    <div class="info"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-6 col-sm-6">
                        <div class="single-footer-widget mail-chimp">
                            <h6 class="mb-20">Instragram Feed</h6>
                            <ul class="instafeed d-flex flex-wrap">
                                <li><img src="~/img/i1.jpg" alt=""></li>
                                <li><img src="~/img/i2.jpg" alt=""></li>
                                <li><img src="~/img/i3.jpg" alt=""></li>
                                <li><img src="~/img/i4.jpg" alt=""></li>
                                <li><img src="~/img/i5.jpg" alt=""></li>
                                <li><img src="~/img/i6.jpg" alt=""></li>
                                <li><img src="~/img/i7.jpg" alt=""></li>
                                <li><img src="~/img/i8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Follow Us</h6>
                            <p>Let us be social</p>
                            <div class="footer-social d-flex align-items-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                    <p class="footer-text m-0">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </footer>
    </div>

<<<<<<< HEAD
<<<<<<< HEAD
    <environment include="Development">
=======
    <environment names="Staging,Production">
>>>>>>> parent of 33e6768... Merge branch 'master' of https://github.com/tqvinhhung4399/ShoesStore
=======
    <environment names="Staging,Production">
>>>>>>> parent of 33e6768... Merge branch 'master' of https://github.com/tqvinhhung4399/ShoesStore
        <script src="~/file1.js"></script>
        <script src="~/file2.js"></script>
        <script src="~/file3.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                crossorigin="anonymous"></script>
        <script src="~/js/vendor/bootstrap.min.js"></script>
        <script src="~/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/js/jquery.nice-select.min.js"></script>
        <script src="~/js/jquery.sticky.js"></script>
        <script src="~/js/nouislider.min.js"></script>
        <script src="~/js/countdown.js"></script>
        <script src="~/js/jquery.magnific-popup.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/bootstrap-datepicker.js"></script>
        <script src="~/js/validate.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="~/js/gmaps.min.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/DataTableJS.js"></script>
        <script>
            $(document).ready(function () {
                $('#test').DataTable();
            });
        </script>
        <script>
            var count1 = 2;
            var limit1 = 2;
           @if(ViewBag.ShoesForPageEditProduct != null) {
                <text>
                    count1 = @ViewBag.ListProductDetails.Count + 1;
                    limit1 = @ViewBag.ListProductDetails.Count + 1;
                </text>
           }
            
            function removeSize() {
                if (count1 <= limit1) {
                    return;
                }
                var s = "#DP" + (count1 - 1);
                $("div").remove(s);
                $("center").remove(s);
                count1--;
            };
            function addSize() {
                var s = "<center id='DP" + count1 + "'><h3>Detail " + count1 + " (New)</h3></center>"
                    + "<div class='form-group' id='DP" + count1 + "'>"
                    + "<label style='color: #000000; font-weight: bold' >Size: </label>"
                    + "<input type='number' class='form-control' name='txtNewSize' min='0' required placeholder='Products size' />"
                    + "</div>"
                    + "<div class='form-group' id='DP" + count1 + "'>"
                    + "<label style='color: #000000; font-weight: bold' >Quantity: </label>"
                    + "<input type='number' class='form-control' name='txtNewQuantity' min='0' required placeholder='Products quantity' />"
                    + "</div>"
                $("#DetailProduct").append(s);
                count1++;
            };
        </script>
        <script>
            var count2 = 2;
            function remove() {
                if (count2 <= 2) {
                    return;
                }
                var s = "#MP" + (count2 - 1);
                $("div").remove(s);
                $("center").remove(s);
                count2--;
            };

            function add() {
                    var s = "<center id='MP" + count2 + "'><h3>Product " + count2 + "</h3></center>"
                        + "<div class='form-group' id='MP" + count2 + "'>"
                        + "<label style='color: #000000; font-weight: bold' >Price: </label>"
                        + "<input type='number' class='form-control' name='txtPrice' min='0' required placeholder='Products price' />"
                        + "</div>"
                        + "<div class='form-group' id='MP" + count2 + "'>"
                        + "<label style='color: #000000; font-weight: bold' >Color: </label>"
                        + "<input type='text' class='form-control' name='txtColor' required placeholder='Products color' />"
                        + "</div>"
                    $("#MainProduct").append(s);
                    count2++;
                

            };
        </script>
        <script>
                var count3 = 2;
                var limit = 2;
            @if(ViewBag.Shoes != null)
            { 
                    <text>
                    count3 = @ViewBag.Products.Count + 1;
                    limit = @ViewBag.Products.Count + 1;
                    </text>
                
            }
            function removeNewProduct() {
                if (count3 <= limit) {
                    return;
                }
                var s = "#AP" + (count3 - 1);
                $("div").remove(s);
                $("center").remove(s);
                count3--;
            };

            function addNewProduct() {
                    var s = "<center id='AP" + count3 + "'><h3>Product " + count3 + " (New)</h3></center>"
                        + "<div class='form-group' id='AP" + count3 + "'>"
                        + "<label style='color: #000000; font-weight: bold' >Price: </label>"
                        + "<input type='number' class='form-control' name='txtNewPrice' min='0' required placeholder='Products price' />"
                        + "</div>"
                        + "<div class='form-group' id='AP" + count3 + "'>"
                        + "<label style='color: #000000; font-weight: bold' >Color: </label>"
                        + "<input type='text' class='form-control' name='txtNewColor' required placeholder='Products color' />"
                        + "</div>"
                    $("#MainProduct").append(s);
                    count3++;
                

            };
        </script>
        <script>
            $(document).ready(function (){
            LoadData();
        })
        function LoadData() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("LoadDataTable", "Admin")',
                success: function (data) {
                    console.log(data);
                    initDatatable(data);
                },
                error: function (data) {

                }
            })
        }
            /* Formatting function for row details - modify as you need */
            function format(d) {
                // `d` is the original data object for the row

                var s = '<table cellpadding="5" cellspacing="0" border="0" style="margin-left:100px;">';
                for (var i = 0; i < d.sizeQuantity.length; i++) {
                    s = s + '<tr>' +
                        '<td></td>' +
                        '<td></td>' +
                        '<td>Size:</td>' +
                        '<td>' + d.sizeQuantity[i] + ' pair(s)</td>' +
                        '<td></td>' +
                        '<td></td>' +
                        '</tr>';
                }
                s = s + '<tr>' +
                        '<td></td>' +
                        '<td></td>' +
                        '<td></td>' +
                        '<td><a class="btn-info btn-sm" href="/Admin/EditProduct?txtProductID=' + d.productID  + '">Edit</a>&emsp;&emsp;&emsp;&emsp;<a class="btn-danger btn-sm" href="/Admin/RemoveProduct?txtProductID=' + d.productID  + '">Delete</a>&emsp;&emsp;&emsp;&emsp;<a class="btn-success btn-sm" href="/Admin/RestoreProduct?txtProductID=' + d.productID  + '">Restore</a>&emsp;&emsp;&emsp;&emsp;<a class="btn-info btn-sm" href="/Admin/UploadImageAction?txtProductID=' + d.productID  + '">Upload Image(s)</a></td>' +
                        '<td></td>' +
                        '<td></td>' +
                        '</tr>';
                s = s + '</table>';
                return s;

            }

            function initDatatable(data) {
                var table = $('#example').DataTable({
                    "data": data,
                    "columns": [
                        {
                            "className": 'details-control',
                            "orderable": false,
                            "data": null,
                            "defaultContent": ''
                        },
                        { "data": "name" },
                        { "data": "brand" },
                        { "data": "color" },
                        { "data": "price" },
                        { "data": "isDeleted"}
                    ],
                    "order": [[1, 'asc']]
                });

                // Add event listener for opening and closing details
                $('#example tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    else {
                        // Open this row
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                    }
                });
            };
        </script>
    </environment>
    @*<environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
